.errorsBox {
  display: none;
  position: relative;

  border: 1px solid #ff2d3c; // danger(900)
  border-radius: 0.25rem;
  color: var(--white);
  background-color: #ff586b; // danger(500)

  padding: 0.5rem;
  font-size: 0.85rem;
  line-height: 1.5;

  > dl {
    margin: 0;

    &:not(:first-child) {
      margin-top: 0.25rem;
    }

    > dd {
      margin-left: 0.5rem;
    }
  }
}

.hasErrors {
  display: block;
}

.closeButtonArea {
  position: absolute;
  right: 0;
  top: 0.25rem;
}

.errorLine {
  &:before {
    display: inline-block;
    content: '';
    border-radius: 50%;
    height: 0.5em;
    width: 0.5em;
    margin-right: 0.5em;
    background-color: var(--white);
  }
}
