{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "import"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    },
    "import/extensions": [".js", ".scss"]
  }
}
