{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": ["airbnb", "prettier", "plugin:flowtype/recommended"],
  "plugins": ["prettier", "import", "react", "flowtype"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    },
    "import/extensions": [".js", ".jsx", ".scss"],
    "react": {
      "pragma": "React",
      "version": "16.8",
      "flowVersion": "0.92"
    },
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
