.saveCancelFooter {
  margin: calc(-1 * var(--gutter));
  margin-top: var(--gutter);

  padding: var(--gutter);

  border-top: 1px solid var(--border);

  text-align: right;

  > button:not(:first-child) {
    margin-left: 0.5rem;
  }
}
