.fetchWrapper {
  box-sizing: content-box;
}

.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  > img {
    height: 36px;
    width: 36px;
  }
}

.failedWrapper {
  width: 100%;
  height: 100%;
}
